body {
    background-image: url(imags/hairdresser\ backround.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#GridContainer {
    display: grid;
    grid-template-areas: 
    'header header header header header'
    'left left main main main'
    'left left main main main'
    'item4 item4 item4 item4 item4'
    'item5 item5 item5 item5 item5';
}

#item1 {
    grid-area: header;
    height: 100px;
    width: 90%;
    padding: 20px;
    margin: 20px;
    background-color: transparent;
    color: rgb(75, 60, 32);
    size: cover;
    

}

#item2 {
    grid-area: left;
    height: 350px;
    width: 50%;
    padding: 20px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: rgba(255, 255, 255, 0.507);
    

}


    .barberContainer{
        width:84px;
        height:306px;
        position: relative;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
      }
      
      .ball{
        height:22px;
          width:22px;
          margin-left:31px;
          margin-right:31px;
        border-radius:100px;
          background-color:#dbdbdb;
      }
      
      .endCap{
          width:54px;
          height:15px;
          margin-left:15px;
          margin-right:15px;
          margin-top:5px;
          margin-bottom:5px;
          background-color:#dbdbdb;
      }
      
      .cap{
          width:84px;
          height:15px;
          background-color:#dbdbdb;
      }
      
      .barberWrap{
          height:172px;
          width:54px;
          margin-top:5px;
          margin-bottom:5px;
          margin-left:15px;
        margin-right:15px;
      }
      
      .barber{
          height:172px;
          width:54px;
          background:#fefbe3;
          background-color: -webkit-linear-gradient(-45deg, transparent 25%, #dbdbdb 25%, #dbdbdb 50%, transparent 50%, transparent 75%, #dbdbdb 75%);
          background: -moz-linear-gradient(-45deg, transparent 25%, #fefbe3 25%, #fefbe3 50%, transparent 50%, transparent 75%, #fefbe3 75%);
          background: -o-linear-gradient(-45deg, transparent 25%, #fefbe3 25%, #fefbe3 50%, transparent 50%, transparent 75%, #fefbe3 75%);
          background: linear-gradient(-45deg, transparent 25%, #0118e4 25%, #0118e4 50%, transparent 50%, transparent 75%, #0118e4 75%);
          background-size: 27px 27px;
          -webkit-animation: barberpole 1.5s infinite linear;
        animation: barberpole 1.5s infinite linear;
      }
      
      @-webkit-keyframes barberpole {
              from {background-position: 0%;}
              to {background-position: 100%;}
      }



#item3{
    grid-area: main;
    height: 300px;
    width: 85%;
    padding: 20px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: transparent;

}

#footer1{
    grid-area: item4;
    height: 250px;
    width: 90%;
    padding: 20px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: white;

}

#footer2{
    grid-area: item5;
    size-adjust: 100%;
    height: 348px;
    width: 90%;
    padding: 20px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: white;
    background-image: url( imags/contact.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    
    background-size: 100%;

}

div{
    border: 2px solid black ;width:90%;
    
   
}

/*@media only screen and (max-width: 1280px)
{
    #GridContainer {
        display: grid;
        grid-template-areas: 
        'header'
        'left'
        'main'
        'item4'
        'item5';
    }
    body {

    background-image: url(imags/hairdresser\ backround.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

div{
    border: 2px solid black ;width:90%;
    
    
   
}
#item1 {
    grid-area: header;
    height: 100px;
    width: 100%;
    padding: 10px;
    margin: 20px;
    background-color: transparent;
    color: rgb(75, 60, 32);
    

}

#item2 {
    grid-area: left;
    height: 300px;
    width: 100%;
    padding: 10px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: white;

}

#item3{
    grid-area: main;
    height: 300px;
    width: 100%;
    padding: 10px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: white;

}

#footer1{
    grid-area: item4;
    height: 100px;
    width: 100%;
    padding: 10px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: white;

}
#footer1{
    grid-area: item5;
    height: 100px;
    width: 100%;
    padding: 10px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: white;
    

}
   

    
}
*/ 

@media only screen and (max-width: 700px){
    #GridContainer {    
        display: grid;
        grid-template-areas: 
        'header'
        'left'
        'main'
        'item4'
        'item5';
    }
    body {

    background-image: url(imags/hairdresser\ backround.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



    }
#item1 {
    grid-area: header;
    height: 100px;
    width: 80%;
    padding: 10px;
    margin: 20px;
    background-color: transparent;
    color: rgb(75, 60, 32);
    size: cover;
    background-attachment: f;
    

}

#item2 {
    grid-area: left;
    height: 350px;
    width: 80%;
    padding: 10px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: rgba(255, 255, 255, 0.507);

}

#item3{
    grid-area: main;
    height: 300px;
    width: 80%;
    padding: 10px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: transparent;

}

#footer1{
    grid-area: item4;
    height: 100px;
    width: 80%;
    padding: 10px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: white;

}
#footer2{
    grid-area: item5;
    height: 100px;
    width: 90%;
    padding: 10px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: white;
    

}


}
