body {
    background-image: url(imags/hairdresser\ backround.jpg) ;
    background-size: 100%;

}

#GridContainer {
    display: grid;
    grid-template-areas: 
    'header header header header header'
    'left left main main main'
    'left left main main main'
    'item4 item4 item4 item4 item4'
    'item5 item5 item5 item5 item5';
}

#item1 {
    grid-area: header;
    height: 100px;
    width: 1000px;
    padding: 20px;
    margin: 20px;
    background-color: transparent;
    color: rgb(75, 60, 32);
    

}

#item2 {
    grid-area: left;
    height: 300px;
    width: 200px;
    padding: 20px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: white;

}

#item3{
    grid-area: main;
    height: 300px;
    width: 500px;
    padding: 20px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: white;

}
#item4{
    grid-area: item4;
    height: 100px;
    width: 1000px;
    padding: 20px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: white;

}
#item5{
    grid-area: item5;
    height: 100px;
    width: 1000px;
    padding: 20px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: white;

}

div{
    border: 2px solid black;
    
   
}

@media only screen and (max-width: 700px)
{
    #GridContainer {
        display: grid;
        grid-template-areas: 
        'header'
        'left'
        'main'
        'item4'
        'item5';
    }
    
#item1 {
    grid-area: header;
    height: 100px;
    width: 100%;
    padding: 20px;
    margin: 20px;
    background-color: transparent;
    color: rgb(75, 60, 32);
    

}

#item2 {
    grid-area: left;
    height: 300px;
    width: 100%;
    padding: 20px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: white;

}

#item3{
    grid-area: main;
    height: 300px;
    width: 100%;
    padding: 20px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: white;

}
#item4{
    grid-area: item4;
    height: 100px;
    width: 100%;
    padding: 20px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: white;

}
#item5{
    grid-area: item5;
    height: 100px;
    width: 100%;
    padding: 20px;
    margin: 20px;
    color: rgb(75, 60, 32);
    background-color: white;

}
   

    
}