<!DOCTYPE html>
<html lang="en">
<head><script src="SVgrid.js"></script>
    <link rel="stylesheet" href="/static/css/CVgrid.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% include('menu.html') %}
    <div id="GridContainer">
        <div id="item1">header</div>
        <!-- <div id="item2">left</div> -->
        <div class="barberContainer" id="item2">left
            <div class="ball"></div>            
            <div class="endCap"></div>             
            <div class="cap"></div>              
            <div class="barberWrap">               
            <div class="barber"></div>              
        </div>                
            <div class="cap"></div>                    
            <div class="endCap"></div>                   
            <div class="ball"></div>               
        </div>
        <div id="item3">main</div>
        <div id="footer1">item4</div>
        <div id="footer2">צור קשר</div>
    </div>
</body>
</html>