<!DOCTYPE html>

<html>
    <head>
        <title> Nitay Ben Baruch </title>
    </head>
    <body style="background-image: url('imags/website-background.jpeg');">
    {% include('menu.html') %}
        <h1 style="color: rgb(1, 19, 29);">  Hello, thats my first <b>html</b> page</h1>
        <h2> My name is nitay </h2>
        <p style="border: 2px darkslategray;">and this is my first <b>html</b> page<br></p>
    <a href="https://finance.yahoo.com">Yahoo Finance </a><br>
    <img src="imags/finance.png" alt="Yahoo finance logo"><br>
    <img src="imags/YahooFinanceLogo.png" alt="Yahoo finance logo" height="200px">

    </body>
</html>