<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/js/JSintro.js"> </script>

</head>
<body >
{% include('menu.html') %}
    <div id="demo">
        Hello ani Mirii!
    </div>
    <button type="button" onclick="Click()">Click</button>

   <p id="demo2">
   </p>

   <script>
      document.getElementById("demo2").innerHTML=56*34;
   </script>

</body>
</html>