<!-- Arseni assignment menu -->
<h3> Arseni Assignments </h3>
<header>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/assignment8">Assignment 8</a> |
     <a href="/assignment9">Assignment 9</a> |
    {% if session.username %} <a href="/logout">Log Out</a> {% else %}  <a href="/login">Log In</a> {% endif %}
</header>
<br>
<br>
<br>
<!-- Naama assignment menu -->
 <h3> Naama Assignments </h3>
<header>
    <a href="/PUG">PUG</a> |
    <a href="/CVgrid">CVgrid</a> |
    <a href="/exercise2">exercise2</a> |
    <a href="/forms">forms</a> |
    <a href="/GRID">GRID</a> |
    <a href="/JSintro">JSintro</a>
</header>